.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.buttons {
    display: flex;
    padding: 15px;
    gap: 30px;
    width: 800px;
}

.button {
    padding: 15px;
    width: 100%;
    border-radius: 40px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.25);
    outline: solid 2px rgb(35, 71, 78) !important;
    outline-offset: 7px;
    border: none;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}

.timer {
    display: flex;
    padding: 15px;
    gap: 20px;
}

.answers {
    padding: 15px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: lighter;
    color: #fff;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 1);
}

.time {
    padding: 15px;
    border-radius: 30px;
    border: solid 2px rgba(139, 194, 206, 1);
    font-size: 35px;
    font-weight: normal;
    color: #fff;
    -webkit-text-stroke: 0.7px rgba(139, 194, 206, 1);
}

.ru {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    outline: solid 2px rgb(35, 71, 78) !important;
    outline-offset: 7px;
    color: rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 41px 0px rgba(34, 60, 80, 0.46);
}

.active {
    outline: solid 2px rgb(255, 255, 255) !important;
    outline-offset: 4px;
    border: solid 4px rgb(34, 60, 80, 0.46);
    box-shadow: 0px 5px 8px 14px rgba(255, 255, 255, 0.38);
}
