.container {
  display: flex;
  gap: 10px;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/bg_menu_img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  width: 605px;
  margin: 15px 15px 0 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(34, 57, 65, 1);
  font-family: 'Snowstorm', arial;
  text-transform: uppercase;
  font-size: 62px;
  color: rgba(34, 57, 65, 1);
}

/* версия слабовидящих включена */

.enableTitle{
  margin: 15px 15px 0 20px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 46px;
  font-weight: bold;
}

.enableSubtitle{
  padding: 20px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
}



/* версия слабовидящих включена */


.textSection {
  margin-top: 25px;
  padding: 20px;
  height: 530px;
  overflow: auto;
  font-size: 27px;
}

.subtitle {
  display: flex;
  align-items: center;
  margin: 10px 15px 15px 15px;
  font-family: 'Snowstorm', arial;
  text-transform: uppercase;
  font-size: 41px;
  color: rgba(159, 5, 5, 1);
}

.buttons {
  display: flex;
  margin-left: 30px;
  gap: 50px;
}

.button {
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  outline: solid 2px rgba(24, 54, 60, 1) !important;
  box-shadow: 0px 7px 11px 0px rgba(34, 60, 80, 0.3);
  outline-offset: 7px;
  color: rgba(72, 96, 100, 1);
  font-size: 30px;
}

.active {
  color: rgba(163, 80, 20, 1);
  outline: solid 2px rgba(161, 77, 14, 1) !important;
  box-shadow: none;
}


/* версия слабовидящих включена */


.enabledButton{
  box-shadow: none;
}

.enabledActive{
  border-bottom: 2px solid #000;
}

/* версия слабовидящих включена */