.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/congratulations_bg_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 15px;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%, 15%);
    width: 100%;
}

.congratsText {
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    width: 100%;
}

.buttons {
    display: flex;
    gap: 15px;
}

.button {
    height: 100%;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    outline: solid 2px rgb(35, 71, 78) !important;
    outline-offset: 7px;
    color: rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 41px 0px rgba(34, 60, 80, 0.46);
}
