.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/bg_main_img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  position: absolute;
  gap: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 15%);
}

/* версия слабовидящих включена */

.main_enabled{
  display: flex;
  position: absolute;
  gap: 15px;
  top: 35%;
  left: 50%;
}

/* версия слабовидящих включена */


.button_main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: none;
  outline: 3px dashed rgba(255, 255, 255, 1) !important;
  outline-offset: 15px;
  font-family: 'Snowstorm', arial;
  font-size: 40px;
  background: rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  cursor: pointer;
}
