.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/literacy_bg_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    width: 100%;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    gap: 15px;
}

.formGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.formGroup label {
    text-align: left;
    width: 105px;
    height: 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
}
.formGroup input {
    width: 350px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: solid 2px #fff;
    color: #fff;
    padding: 7px;
    font-size: 22px;
}

.submitButton {
    margin: 0 auto;
    width: 350px;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    outline: solid 2px rgb(35, 71, 78) !important;
    outline-offset: 7px;
    color: rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 41px 0px rgba(34, 60, 80, 0.46);
}

/* версия слабовидящих включена */

.submitButton_enabled {
  box-shadow: none;
}

/* версия слабовидящих включена */

.keyboardAbcBtn{
    background: rgba(255, 255, 255, 0.2) !important;
    border: none  !important;
    color: rgba(255, 255, 255, 1);
}

.keyboardWrapper {
    margin: 20px  auto 0;
    padding: 10px;
    border-radius: 14px;
    width: 50%;
}

.keyboardTheme {
    padding: 20px;
    margin-bottom: 15px ;
    background-color: rgba(88, 114, 119, 0.7);
}
/* версия слабовидящих включена */

.keyboardTheme_enabled{
    padding: 20px;
    margin-bottom: 15px ;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.7);
}

/* версия слабовидящих включена */

.keyboardDefaultBtn {
    background: rgba(255, 255, 255, 0.2) !important;
    color: rgba(255, 255, 255, 1) !important;
    border: none !important;
}

.keyboardDeleteBtn {
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 5px !important;
    border: none !important;
    color: rgba(255, 255, 255, 1) !important;
}
.fioEnter{
	font-family: 'Snowstorm', sans-serif;
}