.header {
    display: flex;
    position: absolute;
    right: 40px;
    top: 40px;
}

.exhibitNameContainer {
    padding: 10px;
    text-align: center;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
}

.button_header {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
    outline: solid 2px rgba(255, 255, 255, 0.8) !important;
    outline-offset: 7px;
    color: rgba(23, 53, 61, 1);
}

.button_header_main {
    background: rgba(24, 54, 60, 0.25);
    outline: solid 2px rgba(24, 54, 60, 1) !important;
}

.button_header_games {
    padding: 18px 12px 18px 12px;
    background: rgba(24, 54, 60, 0.25);
    outline: solid 2px rgba(24, 54, 60, 1) !important;
}

/* Модальные окна */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.7); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.catalogModal,
.detailModal {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    width: 90%;
    max-width: 1200px;
    max-height: 90vh;
}

/* Каталог */
.exhibitsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
}

.exhibitCard {
    cursor: pointer;
    transition: transform 0.3s;
}

.exhibitCard:hover {
    transform: scale(1.03);
}

.thumbnail {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.exhibitName {
    margin-top: 10px;
    text-align: center;
    font-size: 21px;
    color: #fff;
}

.loadMore {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Детали экспоната */
.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    background: rgba(80, 109, 117, 1);
}

.navButtons {
    display: flex;
    align-items: center;
    text-align: center;
}

.navButtons button {
    display: flex;
    background: none;
    cursor: pointer;
    border: none;
    border-left: solid 4px rgba(0, 0, 0, 0.6);
    color: #fff;
}

.detailContent {
    display: flex;
    gap: 30px;
    padding: 20px;
    height: calc(100% - 60px);
}

.imageSection {
    flex: 1;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

.mainImage {
    max-width: 100%;
    max-height: 500px;
    cursor: zoom-in;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.paginationDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
    margin: 0 5px;
    border: none;
    cursor: pointer;
}

.paginationDot.active {
    background: #333;
}

.infoSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
    border-radius: 15px;
    color: #000;
    background: #fff;
}
.infoSection h2 {
    text-transform: uppercase;
}

.details p {
    margin: 10px 0;
}

.description {
    margin-top: 20px;
    line-height: 1.6;
}

/* Полноэкранный режим */
.fullscreenOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.fullscreenImage {
    width: 85%;
    height: 85%;
    object-fit: contain;
}

.accessibilityWrapper {
    position: relative;
    display: inline-block;
}

.colorPicker {
    display: flex;
    gap: 8px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    margin-top: 5px;
}
.colorCircle {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.2s;
}
.colorCircle:hover {
    transform: scale(1.1);
}

.colorPreview {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

.default {
    background: #ffffff;
}
.scheme1 {
    background: linear-gradient(45deg, #000 50%, #fff 50%);
}
.scheme2 {
    background: linear-gradient(45deg, #003366 50%, #ffff00 50%);
}
.scheme3 {
    background: linear-gradient(45deg, #000 50%, #fff 50%);
}
.scheme4 {
    background: #121212;
}
